services:
  - name: tena-api
    type: web
    env: python 
    rootDir: backend
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn run:app --bind 0.0.0.0:5000
    envVars: 
      - key: ENV
        value: production
    autoDeploy: true

  - name: tena-fastapi
    type: web
    env: python 
    rootDir: backend/fastapi_service
    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt
    startCommand: uvicorn main:app --host 0.0.0.0 --port 8000
    envVars: 
      - key: ENV
        value: production
    autoDeploy: true